<div data-controller="shooting-stars"
     data-shooting-stars-min-speed-value="10"
     data-shooting-stars-max-speed-value="30"
     data-shooting-stars-min-delay-value="1200"
     data-shooting-stars-max-delay-value="4200"
     data-shooting-stars-star-color-value="#9E00FF"
     data-shooting-stars-trail-color-value="#2EB9DF"
     data-shooting-stars-star-width-value="10"
     data-shooting-stars-star-height-value="1">
  <svg data-shooting-stars-target="canvas" class="w-full h-full absolute inset-0">
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" style="stop-color: #2EB9DF; stop-opacity: 0" />
        <stop offset="100%" style="stop-color: #9E00FF; stop-opacity: 1" />
      </linearGradient>
    </defs>
  </svg>
</div>